<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="about__content">
            <h3>НЕМНОГО О НАС</h3>
        <p>Миссия – готовить с любовью и чистой душой для гостей ресторана из самых свежих, натуральных и полезных продуктов.

            Цель – стать лучшим рестораном в РК.

            Задачи:  </p>

           <ul> <li>Качественное приготовление блюд.</li>
                <li>Своевременное проведение уборки.</li>
                <li>Производить своевременный и соответствующий закуп.</li>
                <li>Вести мониторинг и хранение продуктов.</li>
                <li>Вести работу в соответствии с утвержденной калькуляцией и подачей (вид блюда, вес и посуда).</li>
                <li>Соблюдать требование по чистоте помещений, рабочего места и формы.</li>
                <li>Соблюдать требование – максимальное внимание гостям!!!</li>
                <li>Общение ответственного повара с гостям и для выявления несоответствий и удовлетворения желаний гостей.</li>

            </ul>


            </div>
        </div>
        <div class="col-lg-6"><div class="about__img">
            <img src="/img/LISHANKOFF.COM-46.jpg" alt="">
        </div>
        </div>

        <div class="col-lg-6">
            <div class="about__img">
                <img src="/img/av-removebg.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6">
                    <div class="about__content">
                <h3>НАШ ШЕФ ПОВАР</h3>
                        <p>Umarov Nodirbek Baxtiyar ugli</p>

                <p>
                    В 2015 году был специально приглашён из города Ташкент в Наш ресторан "Узбекистан" находящийся в г. Астана.
                    Начал готовить с детства и работал шеф-поваром в ресторанах таких городов как Москва, Крым, Санкт Петербург, Казань и Киев.
                    Настоящий профессионал своего дела. Призер и участник многих российских и зарубежных выставок и конкурсов.
                    Счастливый человек, потому что занимается более 10 лет тем, что очень любит - готовить еду и готовит с душой.
                    Готовит блюда только из качественных и свежих продуктов, а главное с любовью.
                    Его миссия передать атмосферу и гостеприимство национальной Узбекской кухни.</p>

            </div>
        </div>

    </div>
</div>