<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<footer>
    <div class="footer__top bg-primary">

        <div class="btn btn-secondary rounded-circle arrow__bottom">
            <img src="img/arrow_up.png" alt="">

        </div>
        <div class="container text-center">
        <h3 class="mt-5">О РЕСТОРАНЕ</h3>
        <p class="mt-5">Ресторан узбекской кухни Uzbekistan — это уголок Узбекистана в столице Казахстана, где собираются все, кто хочет отдохнуть от насыщенной будничной суеты, приятно провести время и окунуться в дивный мир Востока. Посетить уютное заведение можно с коллегами, друзьями и детьми.У нас вы почувствуете домашний уют, дружескую и тёплую атмосферу.</p>
    </div>
    </div>
    <div class="footer__bottom bg-secondary p-3">
        copirait
    </div>
</footer>