<div class="home-video">

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
   <div class="home-video__text">
       <img src="/img/logo.png" alt="">
                <h1 class="mb-5">СЕТЬ УЗБЕКСКИХ РЕСТОРАНОВ</h1>
<div class="btn btn-lg btn-primary">Посssмотреть меню</div>
   </div>

    <div class="home-video__arrow"><img src="img/arrow_down.png" alt="Сеть Узбекских ресторанов"></div>

</div>